@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Palanquin Dark', sans-serif;
}
h1 {
	color:black;
  text-align: center;
  margin-bottom: 0.8em;
  font-size: 2.4em;
}
p {
  padding: 1.6em 0.5em 0.5em 0.5em;
	position: relative;
  }

.cell { 
    border: 0.2em solid black;
	  background-color: gray;
   	margin-top: 0.8em; 
   	margin-right: 0.8em;
   	padding: 0.2em;
   	text-align: justify;
   	position: relative;
    height: 30vh;
 }

#chicken {
	background-color: rgb(247, 171, 171);
	color:black;
}

#beef {
	background-color: rgb(236, 65, 65);
	color: white;
}

#sushi {
	background-color: rgb(242, 178, 105);
	color:black;
}

span {
	font-size: 1.3em;
	width: 7em;
	border: solid black;
  border-width: 0 0 0.1em 0.1em;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}

.container {
	width: 100vw;
  height: 100vh;
}

@media (min-width: 992px) {
.first {
  width: 33.33%;
  float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  .second {
    width: 50%;
    float: left;
  }
  .fourth {
    width: 100%;
    float: left;
  }
}
@media (max-width: 767px)  {
  .third {
  	float: left;
    width: 100%;
  }
}