hl { font-family: Arial, Helvetica, sans-serif; font-size: 3.5rem;
text-align: center;
}
img {
width: 300px;
  
height: 300px;
border: 10px solid #ff80ff;
margin: 0px;
}
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.scale-down {
object-fit: scale-down;
}
.cover {
object-fit: cover;
}
.none {
object-fit: none;
}